# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("R.methodsS3", "setMethodS3")
importFrom("R.methodsS3", "throw")
import("R.oo")
import("R.utils")
import("matrixStats")
##import("utils")
import("MASS")
importFrom("R.filesets", "getAsteriskTags")
import("aroma.affymetrix")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Export all public methods, that is, those without a preceeding dot
# in their names.
exportPattern("^[^\\.]")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# DECLARATIONS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
S3method("doACNE", "AffymetrixCelSet")
S3method("doACNE", "character")

S3method("getAsteriskTags", "NmfPlm")
S3method("getProbeAffinityFile", "NmfPlm")
S3method("getFitUnitFunction", "NmfPlm")
S3method("getAsteriskTags", "NmfSnpPlm")

S3method("plot", "SnpNmfFit")
